* {
    margin: 0;
}

body {
    width: 100%;
    background: url('/images/gplaypattern.png');
    font-family: 'Jura', sans-serif;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

p {
    text-align: center;
    font-size: 3vw;
    display: block;
    vertical-align: middle;
}

button {
    position: absolute;
    display: block;
    padding: 0;
    background-color: #FFFFFF;
    color: #FF3333;
    border: 2px #FF3333 solid;
    text-align: center;
    font-size: 3vh;
    font-family: 'Jura', sans-serif;
    width: 15%;
    height: 5%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 5;
    transition: all 0s ease;
}

#undo, #GiveUp, #StartRound, #Surrender {
    display: none;
}

#undo {
    background-color: Transparent;
    background-repeat: no-repeat;
    outline: none;
}

button:hover{
    transition: 0.25s;
    background-color: blue;
    color: white;
}

button:disabled {
    background-color: #A9A9A9;
    border-color: #AA3333;
    color: #AA3333;
}

#undo:hover {
    transition: 1s;
    -webkit-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
}

#undo:disabled {
    transition: 0s;
}

textarea {
    resize: none;
}
