@media screen and (max-aspect-ratio: 4/5){
    #gameboard {
        width: 90%;
        height: auto;
    }

    #MenuButton, #NewGame, #StartRound, #Surrender, #GiveUp {
        height: 5vw;
    }

    #undo{
        top: 10vh;
    }
}
