@media screen and (min-aspect-ratio: 3/2) {

    button {
        height: 4vw;
        width: 15vw;
        font-size: 2vw;
    }

    #MenuButton {
        top: 20vw;
        left: 5%;
    }

    #NewGame {
        top: 32vw;
        left: 5%;
    }

    #StartRound {
        top:30vw;
        left:5%
    }

    #Surrender {
        top:37vw;
        left:5%;
    }

    #undo {
        top: 28vw;
        left: 12%;
        height: 7vw;
        width: 7vw;
    }

    #undoimg {
        height: 7vw;
        width: 7vw;
    }

    #GiveUp {
        top:37vw;
        left: 5%;
    }

}
