@media screen and (min-aspect-ratio: 5/3){

    #left {
        display: table;
        width: 25%;
        height: 100vh;
        float: left;
    }

    #gamecontainer {
        height: 100%;
        width: 50%;
        float: left;
        text-align: center;
    }

    #gameboard {
        width: 100%;
        height: auto;
    }

    #right {
        display: table;
        height: 100vh;
        width: 25%;
    }

    #MenuButton {
        top: 12vw;
        left: 5%;
    }

    #NewGame {
        top: 25vw;
        left: 5%;
    }

    #StartRound {
        top: 22vw;
        left: 5%;
    }

    #GiveUp, #Surrender {
        top: 27vw;
        left: 5%;
    }

    #undo {
        border: 0;
        top: 18vw;
        left: 9%;
    }
}
