<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Xoliba</title>
        <link rel="stylesheet" type="text/css" href="indexstyle.css">
    </head>

    <body>

        <d id="turn"></d>
        
        <canvas id="gameboard"></canvas>

        <script src="scripts/bundle.js"></script>
    </body>
</html>
