<div id="left">

    <button id="NewGame" onclick="openNewGamePopUp()">New Game</button>

    <button id="MenuButton" onclick="openNav()">Menu</button>
    <button id="Surrender">Surrender</button>
    <button id="StartRound">Start round</button>
    <button id="GiveUp">Give Up</button>

    <div id="notification"></div>
    <p id="blue" style="color: blue">Blue's points: <p id="bluepoints">0</p></p>

    <button type="button" id="undo"><img src="/images/undoImage.png" alt="Undo" id="undoimg"></button>

</div>
