<div id="newWatchGamePopUp">
    <div id="watchIn">
        <div id="scoreIn">
            <p id="limitW">Score Limit: </p>
            <input type="number" id="scorelimitW" value="50">
        </div>
        <div id="AIin">
            <p id="AIlvl">AI (Blue) level: </p>
            <input type="number" id="Alvl" value="2">
        </div>
        <div id="BIin">
            <p id="BIlvl">AI (Red) level: </p>
            <input type="number" id="Blvl" value="2">
        </div>
    </div>
    <button type="button" id="watchGame">Watch Game</button>
</div>