<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
        <li class="submenu">
            <a href="#">Play against AI</a>
            <ul class="dropdown">
                <li>
                    <a href="#">Easy (not supported yet)</a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="openNewGamePopUp()">Medium</a>
                </li>
                <li>
                    <a href="#">Hard (not supported yet)</a>
                </li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#">Help</a>
            <ul class="dropdown">
                <li>
                    <a target="_blank" href="https://books.google.fi/books?id=-R3vDQAAQBAJ&printsec=frontcover&dq=xoliba&hl=fi&sa=X&ved=0ahUKEwjpmOfLjKnUAhWCOSwKHWUyC5YQ6AEIJzAA#v=onepage&q=xoliba&f=true">Manual (in finnish)</a>
                </li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#">Feedback</a>
            <ul class="dropdown">
                <li>
                    <a target="_blank" href="https://docs.google.com/forms/d/1cqPo4kzA5V-KKDrwVhaB6HXkPYYZv589-42eRoKyNlY/prefill">Give us feedback!</a>
                </li>
            </ul>
        </li>
    </ul>
</div>