<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
        <li class="submenu">
            <a href="#">Play against AI</a>
            <ul class="dropdown">
                <li>
                    <div class="aiDifficulty" id="aiDif">
                        <input type="radio" id="r1" name="difficulty" value="1">
                        <label for="r1">Beginner</label><br>

                        <input type="radio" id="r2" name="difficulty" value="2" checked>
                        <label for="r2">Easy</label><br>

                        <input type="radio" id="r3" name="difficulty" value="4">
                        <label for="r3">Medium</label><br>

                        <input type="radio" id="r4" name="difficulty" value="6">
                        <label for="r4">Hard</label>
                    </div>
                </li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#">Help</a>
            <ul class="dropdown">
                <li>
                    <a target="_blank" href="https://books.google.fi/books?id=-R3vDQAAQBAJ&printsec=frontcover&dq=xoliba&hl=fi&sa=X&ved=0ahUKEwjpmOfLjKnUAhWCOSwKHWUyC5YQ6AEIJzAA#v=onepage&q=xoliba&f=true">Manual (in finnish)</a>
                    <a target="_blank" href="http://www.nestorgames.com/rulebooks/XOLIBA_EN.pdf">Manual (in english)</a>
                </li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#">Feedback</a>
            <ul class="dropdown">
                <li>
                    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSebCW49DSWzO0kZNZpEHhyJ27ybSLL32olhLnfsSKSpLYpDIA/viewform?usp=sf_link">Give us feedback!</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
